In [1]:
import os
import argparse
import abagen
import pandas as pd

In [3]:
outdir = 'data/microarray/'

In [5]:
expression, coords = abagen.get_samples_in_mask(mask=None, data_dir = outdir, donors = 'all')

In [6]:
type(expression)

pandas.core.frame.DataFrame

In [7]:
expression.shape

(3466, 15633)

In [11]:
type(coords)

pandas.core.frame.DataFrame

In [13]:
coords.head()

                 x          y          z
well_id
594       6.281693 -26.769456  46.030920
2985     29.463218  17.371072  -6.841868
2801     30.916352 -19.971094  12.528056
2273    -24.471659 -23.995584  -2.006094
2785     33.052748 -30.720132 -12.020580

In [14]:
from datatable import fread

In [45]:
tmp = fread('data/HumanExpressionMatrix_samples_pipeline_v1.csv', header = True).to_pandas()

In [46]:
tmp.shape

(15125, 3703)

In [47]:
tmp.head()

,4077-22-594,4323-11-2985,4323-18-2801,4440-18-2273,4266-17-2785,4267-17-2793,4782-72-2795,4784-69-2787,4788-67-2874,4251-17-2858,...,4308-7-159439119,4379-7-159439103,4367-7-159439087,4360-7-159439071,4342-7-159439039,4785-64-159438991,4783-64-159438975,4782-64-159438959,4782-63-159438943,Gene
0,13.241217,13.866818,14.024717,13.957972,14.107256,14.983762,12.881184,13.131013,13.427203,12.880171,...,12.978943,13.084267,13.117642,13.127226,13.545035,13.667890,13.882591,13.559466,13.649978,61E3.4
1,7.731630,7.999148,7.908282,5.959449,8.104894,8.221196,8.302082,7.256641,8.429102,6.480183,...,8.266711,7.466690,7.359367,7.234834,7.909423,7.976029,8.043982,8.334028,7.924756,A_24_P614148
2,7.016898,8.813481,10.137013,7.375075,7.840406,7.459936,8.579187,9.372120,10.054486,8.146435,...,8.534223,8.548122,8.807699,8.883801,8.900822,8.624060,9.309359,9.980388,8.258033,A1BG
3,6.252784,6.268146,5.536583,4.381212,4.647915,6.623660,6.110684,4.716342,6.222724,6.290127,...,5.256769,5.725680,5.630541,5.618263,5.769746,5.250205,5.887905,6.179774,5.408444,A26C1B
4,11.613282,12.348363,12.918246,12.455928,13.368702,13.778756,10.281085,9.992890,9.756945,11.775862,...,10.125239,11.996107,11.529511,11.680433,11.961247,9.088722,8.953400,10.714021,9.496358,A2BP1

In [35]:
import pandas as pd

from re import search

In [198]:
donors

      donorID donorFileID
0  H0351.2001   donor9861
1  H0351.2002  donor10021
2  H0351.1009  donor12876
3  H0351.1012  donor14380
4  H0351.1015  donor15496
5  H0351.1016  donor15697

In [218]:
donors = pd.read_csv('data/donors.csv')
sample_data = []
for index, row in donors.iterrows():
    
    donor_dir = 'normalized_microarray_{}'.format(row['donorFileID'])
    samplefile = os.path.join(outdir, donor_dir, 'SampleAnnot.csv')
    df_sample = pd.read_csv(samplefile)
    
    sample_ids = df_sample.apply(lambda x: '%s-%s-%s' % (x['structure_id'], x['slab_num'], x['well_id']), 
                                 axis = 1)
    df_sample['SampleID'] = sample_ids
    
    df_sample['Donor'] = row['donorID']
    
    sample_data.append(df_sample)
    
df_samples = pd.concat(sample_data, axis = 0, ignore_index = True)
df_samples = df_samples.loc[df_samples['well_id'].isin(expression.index)]

In [161]:
expression.head()

gene_symbol,A1BG,A1BG-AS1,A2M,A2ML1,A3GALT2,A4GALT,AAAS,AACS,AADACL3,AADAT,...,ZW10,ZWILCH,ZWINT,ZXDA,ZXDB,ZXDC,ZYG11B,ZYX,ZZEF1,ZZZ3
well_id,,,,,,,,,,,,,,,,,,,,,
594,0.301206,0.633459,0.524247,0.418119,0.354588,0.264215,0.747265,0.896750,0.267889,0.854105,...,0.664240,0.425123,0.393411,0.539312,0.441774,0.344128,0.790665,0.750759,0.548501,0.335783
2985,0.789466,0.423733,0.371010,0.236624,0.935364,0.710047,0.437137,0.661248,0.459832,0.432018,...,0.091802,0.756656,0.240631,0.915214,0.304052,0.508392,0.569169,0.770941,0.568334,0.889131
2801,0.950836,0.356655,0.597191,0.041786,0.607998,0.954603,0.204959,0.408170,0.408236,0.250875,...,0.620293,0.678288,1.000000,0.136651,0.060707,0.880952,0.438016,0.549799,0.148812,0.406152
2273,0.255668,0.211723,0.781888,0.370243,0.620974,0.137888,0.034473,0.068002,0.885394,0.148016,...,0.240219,0.131628,0.321255,0.005255,0.007859,0.908355,0.051453,0.286382,0.527082,0.017642
2785,0.282351,0.284394,0.859964,0.132408,0.454795,0.880341,0.479368,0.065681,0.682845,0.422405,...,0.402900,0.326117,0.457908,0.446117,0.031938,0.630605,0.132883,0.134859,0.263702,0.678706

In [212]:
df_sample_ids = df_samples.loc[:,['well_id', 'SampleID']]

In [213]:
expression_new = (expression
 .merge(df_sample_ids, on = 'well_id', how = 'left')
 .drop(labels = 'well_id', axis = 1))

In [219]:
df_samples = df_samples.set_index('SampleID').reindex(index = expression_new['SampleID']).reset_index(level = 'SampleID')

In [220]:
df_samples

,SampleID,structure_id,slab_num,well_id,slab_type,structure_acronym,structure_name,polygon_id,mri_voxel_x,mri_voxel_y,mri_voxel_z,mni_x,mni_y,mni_z,Donor
0,4077-22-594,4077,22,594,CX,PCLa-i,"paracentral lobule, anterior part, right, infe...",37470,87,52,116,5.9,-27.7,49.7,H0351.2001
1,4323-11-2985,4323,11,2985,CX,Cl,"claustrum, right",40517,66,92,63,29.2,17.0,-2.9,H0351.2001
2,4323-18-2801,4323,18,2801,CX,Cl,"claustrum, right",41516,66,81,104,28.2,-22.8,16.8,H0351.2001
3,4440-18-2273,4440,18,2273,CX,LGd,"dorsal lateral geniculate nucleus, left",41473,116,94,101,-24.6,-24.6,1.3,H0351.2001
4,4266-17-2785,4266,17,2785,CX,CA4,"CA4 field, right",41142,63,104,106,31.1,-31.3,-7.3,H0351.2001
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3461,4342-7-159439039,4342,7,159439039,CX,BLA,"basolateral nucleus, left",147057074,112,127,94,-21.0,-3.0,-18.0,H0351.1016
3462,4785-64-159438991,4785,64,159438991,CB,Glo,"globose nucleus, left",156978055,93,139,156,-2.0,-65.0,-30.0,H0351.1016
3463,4783-64-159438975,4783,64,159438975,CB,Emb,"emboliform nucleus, left",156978968,93,136,153,-2.0,-62.0,-27.0,H0351.1016
3464,4782-64-159438959,4782,64,159438959,CB,Dt,"dentate nucleus, left",156419141,93,127,155,-2.0,-64.0,-18.0,H0351.1016
3465,4782-63-159438943,4782,63,159438943,CB,Dt,"dentate nucleus, left",156513391,103,139,155,-12.0,-64.0,-30.0,H0351.1016